<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rezero">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".product_select"
            android:exported="true" />
        <activity
            android:name=".PricesortBtnBottomSheet"
            android:exported="true" />
        <activity
            android:name=".CategoryBtnBottomSheet"
            android:exported="true" />
        <activity
            android:name=".SortBtnBottomSheet"
            android:exported="true" />
        <activity
            android:name=".Kitchen"
            android:exported="true" />
        <activity
            android:name=".MissionFragment"
            android:exported="true" />
        <activity
            android:name=".NewFragment"
            android:exported="true" />
        <activity
            android:name=".BestFragment"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/searchable" />

        <activity
            android:name=".Re"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Zero"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>